# Ignore everything by default
*

# Whitelist only essential files for npm package
!package.json
!README.md
!LICENSE
!NOTICE
!THIRD-PARTY-LICENSES

!bin/
!/bin/**
!dist/
!/dist/**

# Include the dist directory and its contents
!index.js*
!*.d.ts

# Note: package.json is automatically included
# We include the entire dist directory to ensure all built files are packaged
